.youtube-player {
  position: relative;
  width: 100%;
  max-width: 720px;
  padding-bottom: min(405px, 56.25%);
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

.two-columns .youtube-player {
  max-width: 100%;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
